* {
	padding: 0;
	margin: 0;
}

body,
#root {
	width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(
		135deg,
		rgba(129, 95, 112, 1) 0%,
		rgba(59, 53, 81, 1) 100%
	);
	background-repeat: no-repeat;
}
